*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #354551;
}
header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:33px 9%;
    background: transparent;
}
header .logo{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
header .logo span{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color:#2ABCAE;
}

header .navlist{
    display: flex;
}
header .navlist a{
    color:white;
    margin-left: 60px;
    font-size: 15px;
    font-weight:600 ;
    border-bottom: 2px solid transparent;
    transition: all .55s ease ;
}
header .navlist a:hover{
    border-bottom:2px solid #2ABCAE;

}
#menu-icon{
    color: #2ABCAE;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
   background-color: #354551;
position: relative;
display: grid;
grid-template-columns:repeat(2,2fr) ;
align-items: center;
gap: 3rem;}
section{
   padding: 0 10%; 
}
h5{
    padding: 10px 20px;
    background-color: #2ABCAE;
    color: #354551;
    border-radius: 20px;
    width: 20vw;
    margin-bottom: 8%;
}
.hero h2{
color: white;
margin-bottom: 5%;
}
.hero p{
    color: #90B0C0;
    margin-bottom: 8%;
    }
    .hero span{
        font-family: 'DM Sans', sans-serif;
        
        font-weight: 700;
        color:#2ABCAE;
    }
    .hero a:hover{
        
        font-weight: 700;
        color:#10445A;
        background-color: #90B0C0;
        padding: 5px 10px;
        border-radius: 10px;
        border: #10445A 3px solid;
        font-family: 'DM Sans',sans-serif;
        transition: .3s;
    }
    .hero a{
        
        font-weight: 700;
        color:#90B0C0;
        background-color: #10445A;
        padding: 5px 10px;
        border-radius: 10px;
        border: #90B0C0 3px solid;
        font-family: 'DM Sans',sans-serif;
        transition: .3s;
    }
    .hero-img{
        margin-top: 10%;
    }
    .hero-img img{
      
        width: 300px;
        height: auto;
        }

.icons{
    position: absolute;
    top: 50%;
    padding: 0 3%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: #2ABCAE;
    transition: all .50s ease;
}
.icons i:hover{
    color: #90B0C0;
    transform: translateY(-5px);
}
.hero-img i{
    font-size: 30px;
    
    background-color: #10445A;
    box-shadow:1px 1px 5px 10px #90B0C0;
    border-radius: 50%;
    padding: 10px;
}
.skills{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
   min-height: 400px;
    background-color: #10445A;
    padding: 5% 2%;
  
    text-align: center;
    color: white;
    flex-wrap: wrap;
    
        
}
.custom-shape-divider-bottom-1680822555 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.custom-shape-divider-bottom-1680822555 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
    
    
}

.custom-shape-divider-bottom-1680822555 .shape-fill {
    fill: #10445A;
    border-top: #2ABCAE 2px solid;
}
.skills h2{
    font-family: 'DM Sans',sans-serif;
    text-transform: uppercase;
   

}
.skills h2 span{
    font-family: 'DM Sans',sans-serif;
    color: #2ABCAE;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-left:1% ;}
.img-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8%;
}
.img-box  img{
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 20px;
}
.img-box .container h6{
    font-size: 15px;
  }
.container{
    background-color: #90B0C0;
    width: 350px;
    height: 350px;
   padding-top: 20px;
    border-radius: 20px;
    font-family: 'DM Sans',sans-serif;
   

}
